<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbg.sums.dao.PermissionsMapper">
    <resultMap id="BaseResultMap" type="com.wbg.sums.entity.Permissions">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permissions
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.wbg.sums.entity.Permissions">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into permissions (id, name,url)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.wbg.sums.entity.Permissions">
    update permissions
    set name = #{name,jdbcType=VARCHAR}
    set url = #{url}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, url
    from permissions
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select id, name url
    from permissions
  </select>
</mapper>