<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="jurisdictionAdvice" class="com.wbg.sums.web.aspect.jurisdictionAdvice"/>
        <aop:config>
            <!--定义切面-->
            <aop:aspect id="authAspect" ref="jurisdictionAdvice">
                <!-- 定义切入点-->
               <aop:pointcut id="jurisdictionPointCut" expression="
                 execution(* com.wbg.sums.web.*.deleteByPrimaryKey(..)) or
                 execution(* com.wbg.sums.web.*.updateByPrimaryKey(..))
                 "/>
                <!--方法环绕-->
               <aop:around method="readOnly" pointcut-ref="jurisdictionPointCut"/>
           </aop:aspect>
       </aop:config>
</beans>